<header>
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('assets/img/emmaus.png') }}" class="pagelogo" alt="emmaus" />
    </a>

    <h1>{{ pagetitle }}</h1>

    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            {% for category in CategoriesService.getCategoriesList() %}
                <li>
                    <a href="{{ path('blog', { 'id': category.id }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
            <li><a href="{{ path('presentation') }}">Présentation</a></li> 
            <li><a href="{{ path('contact') }}">Contact</a></li> 
        </ul>
    </nav>
</header>